@charset "utf-8";

main{}

main > section {
    width: 100%;
    position: relative;
}

#main_intro {
    overflow: hidden;
    height: 100vh;
}

#main_intro > h2 {
    display: none;
}

#main_intro video {
}

#main_intro article {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    text-align: center;
    color: var(--t-color02);
}

#main_intro article > h3 {
    font-size: 60px;
    font-weight: bold;
}

#main_intro article > p {
    line-height: 80px;
    font-size: 16px;
}

#main_intro a {
    color: var(--t-color02);
    font-size: 14px;
    text-decoration: underline;
    margin: 0px 20px;
    padding: 5px 10px;
}

.main_intro .first {
    background: var(--bg-color01);
}

#next_btn {
    padding: 0px;
    text-indent: -9999px;
    display: block;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 27px;
    height: 35px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(45deg);
}

#top3, #intro, #test, #event, #buy, #cs {
    background: #ccc;
    margin: 50px 0px;
    height: 865px;
}

#top3 > h2{
    text-align: center;
    font-size: 30px;
}
#top > p{
    text-align: center;
    font-size: 14px;
}
.top3_slide > .swiper-wrapper > .swiper-slide > p{text-align: center;}
.top3_slide > .swiper-wrapper > .swiper-slide > p:first-child{
    margin:30px auto 10px auto;
    padding:3px 0px;
    border-radius: 50px;
    border:solid #2ac6aa 1px;
    color:#2ca6aa;
    width:50px; 
    font-size: 14px;
}
.top3_slide > .swiper-wrapper > .swiper-slide > p:last-child{
    font-size: 20px;
}
.top3_slide > .swiper-wrapper > .swiper-slide ul{
    margin-top:50px;
}
.top3_slide > .swiper-wrapper > .swiper-slide{

}
