@charset "utf-8";

body{
  font-family: "맑은 고딕", arial, sans-serif;
  font-size: 12px;
  color:#333;
  /* overflow-x: hidden; 가로스크롤바 안나오게 */
}
a{
  text-decoration: none;
  color:#333;
}
header{
  width:100%;
  border-top:3px solid #ff7c98;
  background-image: url('../images/bg_header.gif');
}

#h_top, nav{
  width:1200px;
  margin:0px auto;
}
#h_top h1{
  width: 92px; height: 92px;
  margin:0px auto;
  padding:15px 0px;
}

#h_bottom{
  width:100%; height: 46px;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
  background-color: #fff;
  overflow: hidden;
  position:absolute;
  z-index: 10;
}
/* #h_bottom:hover::after{
  display: block;
  content:"";
  border-bottom:solid 1px #333;
  transition: 0.3s;
} */

#h_bottom::after{
  display: block;
  content:"";
  border-bottom:solid 1px #fff;
  transition: 0.3s;
}
#h_bottom:hover::after{
  border-bottom:1px solid #333;
}


#h_bottom nav{
  display: flex;
  justify-content: space-between;
}
.lnb, .gnb{
  display: flex;
  justify-content: center;
}

nav a{text-transform: uppercase;}
.lnb{width:200px;}
.lnb > li{
  padding:0px 18px;
  line-height: 46px;
  text-align: center;
}
.lnb > li > a{
  font-size: 13px;
  font-weight: bold;
  color:#aaa;
}
.lnb > li:first-child a{
  color:#ff7c98;
}

.gnb{width: 1000px;}
.gnb > li{
  width:170px;
  line-height: 46px;
  text-align: center;
  position: relative;/*서브메뉴기준*/
}
.gnb > li > a{
  font-size:13px;
  font-weight: bold;
  color:#3c0a0a;
}
/* 서브메뉴서식 */
.sub{
  display: none;
  position: absolute;
  width:100%;
  padding-top:10px;
}
.sub li{line-height: 46px;}
.sub li:hover a{color:#ff7c98;}

/* 메인서식 */
main{}
.slide{
  width:1600px;
  height: 697px;
  margin: 0px auto;
  position: relative;
}
.slide > ul{
  display: flex;
  width:8000px;
}
.slide > ul > li{
  width:1600px;
  height: 697px;
}
.slide i.fas{
  font-size: 50px;
  position: absolute;
  top:46%; 
  border: solid 3px #fff;
  text-align: center;
  line-height: 100px;
  width: 100px; height: 100px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.slide i.fas:hover{
  background:rgba(255, 255, 255, .3);
}
.slide i.fa-angle-left{
  left:0px;
}
.slide i.fa-angle-right{
  right:0px;
}



